extend layouts/_default.pug

block variables
  - let ogp = true
  - var doc_path = "./"
block content
  .container
    .row
      .col-6.border.doc-thumb.bg-platform
        h3
          a(href=`docs/platform`).doc-index Platform
        p プラットホーム系アドオンの一覧です
      .col-6.border.doc-thumb.bg-footbridge
        h3
          a(href=`docs/footbridge`).doc-index FootBridge
        p プラットホーム系アドオンの一覧です
    .row
      .col-6.border.doc-thumb.bg-cublic
        h3
          a(href=`docs/cublic`).doc-index Cublic
        p 箱積駅舎系アドオンの一覧です