
header.mb-3
  .navbar.navbar-expand-md.navbar-light.bg-dark
    .container
      a.navbar-brand(href=site.url) Site Title
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon

      nav.collapse.navbar-collapse#navbar-main
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href="/") Home

