
header.mb-3
  .navbar.navbar-expand-md.navbar-light.bg-secondary
    .container
      a.navbar-brand(href=site.url) YIC Docs
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon

      nav.collapse.navbar-collapse#navbar-main
        ul.navbar-nav.mr-auto
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")#docs Docs
            .dropdown-menu(aria-labelledby="docs")
              a.dropdown-item(href=`${site.url}docs/platform`) Platform
              a.dropdown-item(href=`${site.url}docs/footbridge`) Footbridge
              a.dropdown-item(href=`${site.url}docs/cublic`) Cublic
          li.nav-item
            a.nav-link(href="/") Example

