-
  var platform = [
    {
      name:"test",
      image:"Add_Fence",
      dict:"",
      dir:"https://github.com/Myagami/wa_Platform_Extends/tree/master/Platform/Extend/Add_Fence"
    },
    {
      name:"test",
      image:"Closed_Home",
      dict:"",
      dir:"https://github.com/Myagami/wa_Platform_Extends/tree/master/Platform/Extend/ClosedHome"
    },
    {
      name:"test",
      image:"Crossing_Double_Side",
      dict:"",
      dir:"https://github.com/Myagami/wa_Platform_Extends/tree/master/Platform/Extend/Crossing_Double_Side"
    },
    {
      name:"test",
      image:"Crossing_Fence",
      dict:"",
      dir:"https://github.com/Myagami/wa_Platform_Extends/tree/master/Platform/Extend/Crossing_Fence"
    },
    {
      name:"test",
      image:"Crossing_Plate_Expands",
      dict:"",
      dir:"https://github.com/Myagami/wa_Platform_Extends/tree/master/Platform/Extend/Crossing_Plate_Expands"
    }
  ]
-
  var wide_platform = [
    {
      name:"test",
      image:"platform-1",
      dict:"",
      dir:"https://github.com/Myagami/wa_Platform_Extends/tree/master/Platform/Wide/Wide_Withtop"
    },
    /*{
      name:"test",
      image:"platform-2",
      dict:"",
      dir:"xxx"
    },*/
    {
      name:"test",
      image:"platform-3",
      dict:"",
      dir:"https://github.com/Myagami/wa_Platform_Extends/tree/master/Platform/Wide/Wide_Cuntory_Platform"
    },
    {
      name:"test",
      image:"platform-4",
      dict:"",
      dir:"https://github.com/Myagami/wa_Platform_Extends/tree/master/Platform/Wide/Wide_RoofDual"
    },
  ]

-
  var footbridge = [
    {
      name:"test",
      image:"footbridge_Dual",
      dict:"",
      dir:"xxx"
    },
  ]

-
  var wide_footbridge = [
    {
      name:"test",
      image:"footbridge_Wide",
      dict:"",
      dir:"xxx"
    },
  ]

-
  var cublic = [
    {
      name:"test",
      image:"cublic_ex",
      dict:"",
      dir:"xxx"
    },
    {
      name:"test",
      image:"cublic_stair",
      dict:"",
      dir:"xxx"
    },
  ]