-
  var platform = [
    {
      name:"YIC-Mk_EX-platform-1f_1 ～ 同3f_2",
      image:"Add_Fence",
      dict:"このセットを作るきっかけとなったアドオンです<br>Twitterで見たホームを拡幅するというアイデアからこれが生まれ、更にセットへと拡大していきました。<br>1f,2f,3fで屋根の有無や種類、_1,_2でそれぞれ壁面の有無となっております。",
      dir:"https://github.com/Myagami/wa_Platform_Extends/tree/master/Platform/Extend/Add_Fence"
    },
    {
      name:"YIC-Mk_EX-platform-1_Closed",
      image:"Closed_Home",
      dict:"ホームを封鎖するのに丁度いいアドオンです、複々線で通過列車しか無い側の線路や地下鉄駅で余分なホームを塞ぐのにどうぞ。",
      dir:"https://github.com/Myagami/wa_Platform_Extends/tree/master/Platform/Extend/ClosedHome"
    },
    {
      name:"YIC-Mk_EX-platform-1u_LR",
      image:"Crossing_Double_Side",
      dict:"構内踏切で両面ホームに対応してみました",
      dir:"https://github.com/Myagami/wa_Platform_Extends/tree/master/Platform/Extend/Crossing_Double_Side"
    },
    {
      name:"YIC-Mk_EX-platform-1u_Ef",
      image:"Crossing_Fence",
      dict:"デフォで欲しかったけどもニッチすぎると判断して自分で作成、構内踏切のホームに柵を付けてみました。",
      dir:"https://github.com/Myagami/wa_Platform_Extends/tree/master/Platform/Extend/Crossing_Fence"
    },
    {
      name:"YIC-Mk_EX-platform-1u-Exp1 / Exp2",
      image:"Crossing_Plate_Expands",
      dict:"構内踏切を中線にも対応してみました。 Exp1が奥側に配置され、Exp2は手前側に配置されます。",
      dir:"https://github.com/Myagami/wa_Platform_Extends/tree/master/Platform/Extend/Crossing_Plate_Expands"
    }
  ]
-
  var wide_platform = [
    {
      name:"YIC-Mk_EX-platform-1f_T1-1~6 ",
      image:"platform-1",
      dict:"拡幅に特化したホームアドオン、既存のホームを拡幅してしまいましょう!<br>Youtubeで辻堂駅の線路切換工事の動画を見て作成。",
      dir:"https://github.com/Myagami/wa_Platform_Extends/tree/master/Platform/Wide/Wide_Withtop"
    },
    /*{
      name:"test",
      image:"platform-2",
      dict:"",
      dir:"xxx"
    },*/
    {
      name:"YIC-Mk_EX-platform-0_Wide",
      image:"platform-3",
      dict:"無駄に田舎向けの駅でも拡幅してみました、誰得? 俺得だよ!",
      dir:"https://github.com/Myagami/wa_Platform_Extends/tree/master/Platform/Wide/Wide_Cuntory_Platform"
    },
    {
      name:"YIC-Mk_EX-platform-2f_Tw / 3f_Tw",
      image:"platform-4",
      dict:"ホームを相当拡幅したい人向け、屋根を片一方づつにして大きな屋根があるホームになります。",
      dir:"https://github.com/Myagami/wa_Platform_Extends/tree/master/Platform/Wide/Wide_RoofDual"
    },
  ]

-
  var footbridge = [
    {
      name:"YIC-Mk_EX-railstop-footbridge-1_Dual",
      image:"footbridge_Dual",
      dict:"跨線橋を置いてみて真ん中に柱が来るのが気になりませんか?<br>自分は気にしたので真ん中の柱を取り払いました<br>1つの大きな入口になりました。",
      dir:"xxx"
    },
  ]

-
  var wide_footbridge = [
    {
      name:"YIC-Mk_EX-platform-1f_WideBridge-1 / -2 / -3",
      image:"footbridge_Wide",
      dict:"拡幅ホームに対応した跨線橋です。<br>-1で右側に柱が来ます<br>-2で中間におけるタイプです<br>-3で左側に柱が来ます",
      dir:"xxx"
    },
  ]

-
  var cublic = [
    {
      name:"YIC-Mk_EX-cs-platform-1_Ex1 / Ex2 / Ex3",
      image:"cublic_ex",
      dict:"もちろん、箱積駅舎でも拡幅ホームに対応しています!<br>壁付きだったり中間だったり、おまけで両面に壁面が来るホームも。",
      dir:"xxx"
    },
    {
      name:"YIC-Mk_EX-platform-f_With_Stair_1-1 / 1-2",
      image:"cublic_stair",
      dict:"階段も対応しています、1-1はホームからのアプローチ向け<br>1-2は外から駅へのアプローチ向けです",
      dir:"xxx"
    },
  ]